<div id="<%= dom_id message %>">
  <p>
  <strong>Body:</strong>
  <%= message.body %>
  </p>
  <div class="d-flex justify-content-around">
    <%= link_to "show", message, class: 'btn btn-warning' %>
    <%= button_to "edit", edit_message_path(message), method: :post, class: 'btn btn-primary'%>
    <%= button_to "delete", message_path(message), method: :delete, class: 'btn btn-danger' %>

  </div>
</div>
